<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="h-[calc(100vh-100px)] bg-slate-300">
    <header class="flex flex-col justify-around items-end bg-slate-700 h-[100px]">
        <h1 class="text-4xl text-white">Tech-Blog</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/dashboard">Dashboard</a>
            {{#if activeUser}}
            <a href="/logout">Logout</a>
            {{else}}
            <a href="/login">Login</a>
            {{/if}}
        </nav>
        
    </header>
    
    <main class="h-full flex flex-col">
        <h1 class="text-xl text-white font-bold text-center bg-gradient-to-b from-slate-700 to-slate-500 px-5 pb-2 self-center rounded-b-xl">{{title}}</h1>
            {{{body}}}
    </main>

</body>
</html>