<div class="flex flex-col justify-center items-center w-full">
    {{#each posts as | post |}}
    <div class="w-3/4">
        {{> postCard post}}
    </div>
    {{/each}}
</div>

<script src="/js/commentSection.js"></script>
<script src="/js/replySection.js"></script>