<div class="flex justify-center items-center ">
    <div class="flex flex-col justify-center items-center w-3/4 bg-slate-500 rounded-lg border">
        <div class="flex flex-col justify-center items-center m-2 p-2 rounded-lg border">
            <div class="my-3">
                <label>Username:</label>
                <input id="username" type="text" name="username" placeholder="username"/>
            </div>

            <div class="my-3">
                <label>Password:</label>
                <input id="password" type="password" name="password"/>
            </div>
            <button id="signInButton" class="btn bg-slate-400">Sign In</button>
        </div>
    </div>
</div>
<script src="/js/login.js"></script>